APP_MODE=demo
PARTNER_ID=4
GAME_BASE_URL=https://games.springbuilder.site
SWARM_WS_URL=wss://eu-swarm-ws-re.betcoswarm.com/
SWARM_HTTP_URL=https://as-swarm-ws-re.betconstruct.com/
LEGACY_WS_URL=ws://10.32.5.83:8282/
PID_PAYMENT_ENABLED=false
PID_PAYMENT_BASE_URL=
PID_MERCHANT_ID=
PID_API_KEY=
